*{


    margin: 0;
    padding: 0;
    font-family: century Gothic;
}
header{

background-image: url(fond.jpg);


height: 100vh;
background-size: cover;
background-position:center ;

}

ul{
    float:right;
    list-style-type: none;
    margin-top: 4px;
    
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border:1px solid black;
}

body{
    padding:  0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    
}

.banner1,.banner2,.banner3,.banner4{
    height: 100vh;
    width: 100%;
    position:  absolute;
    left: 0;
    top: -100;


}
.banner2{
    height: 100vh;
    width: 100%;
    position:  absolute;
    left: 0;
    top: -100;
}
.banner3{
    height: 100vh;
    width: 100%;
    position:  absolute;
    left: 0;
    top: -100;
}

.banner4{
    height: 100vh;
    width: 100%;
    position:  absolute;
    left:0;
    top: -100;
}





/*.img{

width:  100%;
position:absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
animation: zoom 3s linear infinite;

}
@keyframes zoom {
    100%{
        width: 100%;
    }
}*/

.img{
    width:  100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    100%{

        width: 100%;}

    }



.text-box{
    width: 600px;
    position: absolute ;
    top: 500px;
    left: 50px;
    color:antiquewhite;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
.text-box h1{
    margin-bottom: 40px;
}

.text-box p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 80px;
}
.text-box span{
    background:black;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0;
}
.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}
.banner4{
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes  textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 3s;
}
.text-box3{
    animation-delay: 6s;
}
.text-box4{
    animation-delay: 9s;
}
.slider{
    width: 800px;
    height: 400px;
    background: url(slide1.jpg);
    margin: 100px auto;
    animation: slide 20s infinite;

}/*
@keyframes slide {
    25% {
        background: url(slide1.jpg);
    }
    50% {
        background: url(slide2.jpg);
    }
    75% {
        background: url(slide3.jpg);
    }
    100% {
        background: url(slide4.jpg);
    }
    
    
}*/
ul li a:hover{
    background-color:beige;
   
   
    color:cornflowerblue;
}
ul li.active a{
    background-color:beige;
   
   
    color:cornflowerblue;

}

.logo img{
    float: left;
    width: 110px;
    height: auto;
}
.main{

    max-width: 1200px;
    margin: auto;
}